@import "menu-icon.css";
@import "aside-icon.css";
@font-face {
    font-family: DeliciousRoman;
    src: url(DINWeb-Medium.woff);
    
}
@font-face {
    font-family: ItalicRoman;
    src: url(MonicaScript.ttf);
    font-weight: 400;
}
a,label, .bottom-imgs span {
	font-family: DeliciousRoman;
    color: white;
}
nav {
     padding: 17px 35px;

}
nav a{
     text-decoration: none;
     color: gray;
}
nav > label{
     left: 18px;
}
nav:hover {                                       /*------menu------*/
    border-color: gray;
    background-color: white;
}



.beside-story-line {
    width: 90px;
    height: 1px;
    background-color: gray;
    width: 90px;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 70%;
    left: 100%;
}
.story2 .beside-story-line {
    left: -90px;
    top: 80%;
}




.bck-img {
    width: 1370px;
    height: 600px;
    background-image: url(project3.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: -8px;
    padding: 0px;
    position: relative;
    margin-top: 50px;
    box-shadow: 20px 20px 10px #888888;    /*-------box-shadow-------*/
}
.bck-img p {
    font-family: ItalicRoman;
    color: white;
    font-size: 40px;
    position: absolute;
    width: 155px;
    left: 74%;
    top: 10px;
}
.first-part {
    width: 800px;
    font-family: DeliciousRoman;
    position: relative;
    margin: 109px auto;
    color: #4f4f4f;
    font-size: 20px;
    word-spacing: 5px;
    padding-right: 121px;
}


.product-showing {
    display: none;
}
.product-showing span,p {
    opacity: 0.7;
}
.product-showing > div{
    margin-top: 150px;
}

.product-showing h2 {
    font-family: DeliciousRoman;
    text-align: center;    
    padding: 20px;
    font-size: 60px;
}
.product-showing > p {
    font-family: ItalicRoman;
    text-align: center;
     font-size: 40px;
}

.product-showing .story1 {
    margin-left: 15%;
    position: relative;
    background-image: url(news.jpg);
    height: 500px;
    width: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.product-showing .story2 {
    margin-left: 50%;
    position: absolute;
    margin-bottom: 200px;
     background-image: url(news2.jpg);
    height: 400px;
    width: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -80px;
    opacity: 0.7;
}
.middle-word {
    margin:150px 190px;
}
.middle-word span {
    font-family: DeliciousRoman;
    font-size: 30px;
 }
 .middle-word p {
    font-family: DeliciousRoman;
    text-align: left;
    font-size: 21px;
    margin-top: 50px;
    padding-right: 200px;
    color: #4f4f4f;

 }
.story1 span {
    font-family: DeliciousRoman;
    font-size: 20px;
    position: absolute;
    top: 32%;
    left: 103%;

}
.story2 span {
    font-family: DeliciousRoman;
    font-size: 20px;
    position: absolute;
    top: 58%;
    left: -39%;
    text-align: right;

}


.award {
    margin: 470px 119px 150px 119px;
}
.award h3{
    font-family: DeliciousRoman;
    font-size: 25px;
    color: #4f4f4f;
}
.award > div {
    display: inline-block;
    font-family: DeliciousRoman;
    padding: 30px;
    font-size: 20px;
    color: #4f4f4f;
}